.header {
  position: absolute;
  z-index: 999;
  width: 100%;

  &__section {
    display: flex;
    padding-top: 37px;
  }

  &__nav {
    display: flex;
    align-items: center;
  }

  &__logo {
    text-decoration: none;
    color: #d41443;
    font-family: Titan One;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.3;
  }
}

.header-menu {
  margin-left: 110px;

  @media screen and (min-width: 320px) {
    display: none;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
  }

  &__link {
    height: 100%;
    display: block;
    color: #ffffff;
    font-family: 'DM Sans';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.3;

    transition: color 250ms linear;

    &:hover,
    &:focus {
      color: #d41443;
    }
  }
}

.header-menu__item {
  color: #000000;
  &:not(:last-child) {
    margin-right: 35px;
  }
}

.button {
  border: 0px;
  border-radius: 22px;
  cursor: pointer;
}

.mobile-menu {
  margin-left: auto;
  border: none;

  @media screen and (min-width: 1200px) {
    display: none;
  }
}

.header__button {
  background-color: #ffffff;
  color: #d41443;
  width: 159px;
  height: 44px;

  font-size: 16px;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;

  transition: 250ms linear;

  &:hover,
  &:focus {
    background-color: #ecebeb;
  }

  @media screen and (min-width: 320px) {
    display: none;
  }
  @media screen and (min-width: 768px) {
    display: block;
    margin-left: 30px;
  }

  @media screen and (min-width: 1200px) {
    margin-left: 110px;
  }
}

.header__button::after {
  content: '';
  width: 40px;
  height: 40px;
  margin-left: 15px;
  background-image: url('../images/afrikanka@1x.png');
}

.header__button::after {
  content: '';
}

.hero {
  position: relative;
  width: 100%;
  height: 665px;

  background-color: #ffb8ca;
}

.hero-container {
  padding-top: 171px;
  z-index: 998;
}

.hero__title {
  width: 277px;
  margin-bottom: 25px;
  color: #ffffff;

  font-family: 'Titan One';
  font-size: 32px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  &--span {
    color: #d41443;
    font-size: 48px;
  }
}

.hero__link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 112px;
  width: 104px;
  height: 40px;

  border-radius: 20px;
  text-align: center;

  background-color: #d41443;
  color: #ffffff;

  font-family: 'DM Sans';
  font-size: 14px;
  line-height: 1.2;

  &:hover,
  &:focus {
    background-color: #c7133e;
  }

  transition: background-color 250ms linear;

  &--white {
    width: 138px;
    background-color: #ffffff;
    color: #d41443;
    margin-left: 15px;

    &:hover,
    &:focus {
      background-color: #ecebeb;
    }
  }
}

.hero__description {
  width: 200px;
  height: 78px;
  margin-left: 180px;

  &--text {
    color: #ffffff;

    font-size: 14px;
    line-height: 1.4;
  }
}

.circle {
  position: absolute;
  top: 52px;
  left: 475px;
  z-index: 997;

  width: 538px;
  height: 538px;

  border-radius: 50%;
  background-color: #ffa5ba;
}

.object {
  position: absolute;
  top: 156px;
  right: 97px;
  &__first {
    position: relative;
    margin-left: auto;
    width: 72px;
    height: 77px;
  }

  &__second {
    position: relative;
    width: 92px;
    height: 76px;
  }

  &__number {
    position: relative;
    z-index: 999;

    color: #c7133e;

    font-family: 'Titan One';
    font-size: 46px;
    line-height: 1.1;
    letter-spacing: 0.04;

    &--second {
      text-align: center;
    }
  }

  &__descript {
    color: #ffffff;

    font-family: 'DM Sans';
    font-size: 14px;
    line-height: 1.2;
    text-align: center;
  }

  &__ellipse {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #ffffff;
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
}
