@charset "UTF-8";
/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */
body {
  font-family: 'DM Sans', sans-serif;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.header {
  position: absolute;
  z-index: 999;
  width: 100%;
}

.header__section {
  display: flex;
  padding-top: 37px;
}

.header__nav {
  display: flex;
  align-items: center;
}

.header__logo {
  text-decoration: none;
  color: #d41443;
  font-family: Titan One;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.3;
}

.header-menu {
  margin-left: 110px;
}

@media screen and (min-width: 320px) {
  .header-menu {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .header-menu {
    display: flex;
  }
}

.header-menu__link {
  height: 100%;
  display: block;
  color: #ffffff;
  font-family: 'DM Sans';
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.3;
  transition: color 250ms linear;
}

.header-menu__link:hover, .header-menu__link:focus {
  color: #d41443;
}

.header-menu__item {
  color: #000000;
}

.header-menu__item:not(:last-child) {
  margin-right: 35px;
}

.button {
  border: 0px;
  border-radius: 22px;
  cursor: pointer;
}

.mobile-menu {
  margin-left: auto;
  border: none;
}

@media screen and (min-width: 1200px) {
  .mobile-menu {
    display: none;
  }
}

.header__button {
  background-color: #ffffff;
  color: #d41443;
  width: 159px;
  height: 44px;
  font-size: 16px;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  transition: 250ms linear;
}

.header__button:hover, .header__button:focus {
  background-color: #ecebeb;
}

@media screen and (min-width: 320px) {
  .header__button {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .header__button {
    display: block;
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .header__button {
    margin-left: 110px;
  }
}

.header__button::after {
  content: '';
  width: 40px;
  height: 40px;
  margin-left: 15px;
  background-image: url("../images/afrikanka@1x.png");
}

.header__button::after {
  content: '';
}

.hero {
  position: relative;
  width: 100%;
  height: 665px;
  background-color: #ffb8ca;
}

.hero-container {
  padding-top: 171px;
  z-index: 998;
}

.hero__title {
  width: 277px;
  margin-bottom: 25px;
  color: #ffffff;
  font-family: 'Titan One';
  font-size: 32px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

.hero__title--span {
  color: #d41443;
  font-size: 48px;
}

.hero__link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 112px;
  width: 104px;
  height: 40px;
  border-radius: 20px;
  text-align: center;
  background-color: #d41443;
  color: #ffffff;
  font-family: 'DM Sans';
  font-size: 14px;
  line-height: 1.2;
  transition: background-color 250ms linear;
}

.hero__link:hover, .hero__link:focus {
  background-color: #c7133e;
}

.hero__link--white {
  width: 138px;
  background-color: #ffffff;
  color: #d41443;
  margin-left: 15px;
}

.hero__link--white:hover, .hero__link--white:focus {
  background-color: #ecebeb;
}

.hero__description {
  width: 200px;
  height: 78px;
  margin-left: 180px;
}

.hero__description--text {
  color: #ffffff;
  font-size: 14px;
  line-height: 1.4;
}

.circle {
  position: absolute;
  top: 52px;
  left: 475px;
  z-index: 997;
  width: 538px;
  height: 538px;
  border-radius: 50%;
  background-color: #ffa5ba;
}

.object {
  position: absolute;
  top: 156px;
  right: 97px;
}

.object__first {
  position: relative;
  margin-left: auto;
  width: 72px;
  height: 77px;
}

.object__second {
  position: relative;
  width: 92px;
  height: 76px;
}

.object__number {
  position: relative;
  z-index: 999;
  color: #c7133e;
  font-family: 'Titan One';
  font-size: 46px;
  line-height: 1.1;
  letter-spacing: 0.04;
}

.object__number--second {
  text-align: center;
}

.object__descript {
  color: #ffffff;
  font-family: 'DM Sans';
  font-size: 14px;
  line-height: 1.2;
  text-align: center;
}

.object__ellipse {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #ffffff;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.products__about {
  text-align: center;
  text-transform: uppercase;
  font-family: 'Courier New', Courier, monospace;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.15;
}

.products__title {
  margin-bottom: 200px;
  text-align: center;
  text-transform: uppercase;
  font-size: 34px;
  font-weight: 400;
  line-height: 1.15;
}

.products__lisl {
  width: 100%;
}

.products__icon {
  display: block;
  padding: 146px 0 41px;
  max-width: 480px;
  height: auto;
  position: relative;
  border-radius: 24px;
  background-color: #ffb8ca;
}

.products__icon::before {
  content: '';
  position: absolute;
  left: 0;
  top: -55%;
  width: 335px;
  height: 335px;
  background-repeat: no-repeat;
  background-size: 335px 335px;
}

.products__name {
  position: relative;
  text-align: center;
  text-transform: uppercase;
  font-family: Titan One;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.15;
  color: #ffffff;
}

.products__name::after {
  content: '';
  position: absolute;
  left: 0;
  top: -35%;
  width: 335px;
  height: 335px;
  background-repeat: no-repeat;
  background-size: 335px 335px;
}


.about {
  background-color: #fff5f6;
  padding-top: 125px;
  padding-bottom: 39px;
  background-image: url("../images/backgrkarovamobile@1x.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position-y: 90%;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .about {
    padding-top: 130px;
    padding-bottom: 66px;
  }
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .about {
    background-image: url("../images/backgrkarovamobile@2x.png");
  }
}

@media screen and (min-width: 1200px) {
  .about {
    background-image: url("../images/backgrkarova@1x.png");
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .about {
    background-image: url("../images/backgrkarova@2x.png");
  }
}

.about__slogan {
  font-family: Titan One, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0em;
  text-align: center;
  text-transform: uppercase;
  color: #ffa5ba;
  margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
  .about__slogan {
    font-size: 26px;
    line-height: 1.15;
    margin-bottom: 16px;
  }
}

@media screen and (min-width: 1200px) {
  .about__slogan {
    font-size: 30px;
    line-height: 1.13;
    letter-spacing: 0.04em;
  }
}

.about__title {
  font-family: Titan One, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-align: center;
  text-transform: uppercase;
  color: #d41443;
  margin-bottom: 26px;
}

@media screen and (min-width: 768px) {
  .about__title {
    font-size: 48px;
    line-height: 1.14;
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 1200px) {
  .about__title {
    font-size: 58px;
    line-height: 1.13;
    letter-spacing: 0.06em;
    margin-bottom: 55px;
  }
}

@media screen and (min-width: 768px) {
  .about__wrap {
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }
}

.about__img {
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .about__img {
    margin-right: 17px;
  }
}

@media screen and (min-width: 1200px) {
  .about__img {
    margin-right: 74px;
    margin-left: unset;
  }
}

.about__box-info {
  display: flex;
  flex-direction: column;
  width: 69%;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .about__box-info {
    padding-top: 50px;
    width: 340px;
    margin-left: unset;
    margin-right: unset;
  }
}

@media screen and (min-width: 1200px) {
  .about__box-info {
    width: 463px;
  }
}

.about__text {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.58;
  letter-spacing: 0em;
  text-align: left;
}

@media screen and (min-width: 768px) {
  .about__text {
    font-size: 14px;
    line-height: 1.78;
  }
}

@media screen and (min-width: 1200px) {
  .about__text {
    font-size: 16px;
    line-height: 1.75;
    letter-spacing: 0.04em;
  }
}

.about__text--top {
  color: black;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .about__text--top {
    margin-bottom: 31px;
  }
}

@media screen and (min-width: 1200px) {
  .about__text--top {
    margin-bottom: 35px;
  }
}

.about__text--bottom {
  color: #907e82;
  margin-bottom: 17px;
}

@media screen and (min-width: 768px) {
  .about__text--bottom {
    margin-bottom: 62px;
  }
}

@media screen and (min-width: 1200px) {
  .about__text--bottom {
    margin-bottom: 45px;
  }
}

.about__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 176px;
  height: 44px;
  background-color: white;
  border-radius: 22px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: 0em;
  text-align: center;
  color: #d41443;
}

@media screen and (min-width: 768px) {
  .about__link {
    font-size: 16px;
    line-height: 1.31;
  }
}

.about__link:hover, .about__link:focus {
  background-color: #ecebeb;
}

.about__icon {
  fill: #d41443;
  width: 5px;
  margin-left: 13px;
}

.advantages {
  background-color: #fff5f6;
}

.advantages-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.advantages-list {
  list-style: none;
}

@media screen and (min-width: 768px) {
  .advantages-list {
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (max-width: 768px) {
  .advantages-item {
    margin-bottom: 38px;
  }
}

.advantages-subtitle__primary,
.advantages-subtitle__secondary,
.advantages-subtitle__third {
  font-family: Titan One;
  font-size: 36px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  color: #d41443;
  margin-bottom: 13px;
}

@media screen and (min-width: 768px) {
  .advantages-subtitle__primary,
  .advantages-subtitle__secondary,
  .advantages-subtitle__third {
    font-size: 48px;
  }
}

@media screen and (min-width: 1280px) {
  .advantages-subtitle__primary,
  .advantages-subtitle__secondary,
  .advantages-subtitle__third {
    font-size: 58px;
    margin-bottom: 15px;
  }
}

.advantages-subtitle__primary.advantages-subtitle__primary::before,
.advantages-subtitle__secondary.advantages-subtitle__primary::before,
.advantages-subtitle__third.advantages-subtitle__primary::before {
  content: '';
  display: block;
  background-repeat: no-repeat;
  width: 33px;
  height: 50px;
  margin-bottom: 16px;
  background-image: url(../images/advantages_icon1.png);
}

@media screen and (min-width: 768px) {
  .advantages-subtitle__primary.advantages-subtitle__primary::before,
  .advantages-subtitle__secondary.advantages-subtitle__primary::before,
  .advantages-subtitle__third.advantages-subtitle__primary::before {
    margin-bottom: 36px;
  }
}

@media screen and (min-width: 1280px) {
  .advantages-subtitle__primary.advantages-subtitle__primary::before,
  .advantages-subtitle__secondary.advantages-subtitle__primary::before,
  .advantages-subtitle__third.advantages-subtitle__primary::before {
    margin-bottom: 40px;
  }
}

.advantages-subtitle__primary.advantages-subtitle__secondary::before,
.advantages-subtitle__secondary.advantages-subtitle__secondary::before,
.advantages-subtitle__third.advantages-subtitle__secondary::before {
  content: '';
  display: block;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  text-align: left;
  margin-bottom: 16px;
  background-image: url(../images/advantages_icon2.png);
}

@media screen and (min-width: 768px) {
  .advantages-subtitle__primary.advantages-subtitle__secondary::before,
  .advantages-subtitle__secondary.advantages-subtitle__secondary::before,
  .advantages-subtitle__third.advantages-subtitle__secondary::before {
    margin-bottom: 36px;
  }
}

@media screen and (min-width: 1280px) {
  .advantages-subtitle__primary.advantages-subtitle__secondary::before,
  .advantages-subtitle__secondary.advantages-subtitle__secondary::before,
  .advantages-subtitle__third.advantages-subtitle__secondary::before {
    margin-bottom: 40px;
  }
}

.advantages-subtitle__primary.advantages-subtitle__third::before,
.advantages-subtitle__secondary.advantages-subtitle__third::before,
.advantages-subtitle__third.advantages-subtitle__third::before {
  content: '';
  display: block;
  background-repeat: no-repeat;
  width: 44px;
  height: 50px;
  text-align: left;
  margin-bottom: 16px;
  background-image: url(../images/advantages_icon3.png);
}

@media screen and (min-width: 768px) {
  .advantages-subtitle__primary.advantages-subtitle__third::before,
  .advantages-subtitle__secondary.advantages-subtitle__third::before,
  .advantages-subtitle__third.advantages-subtitle__third::before {
    margin-bottom: 36px;
  }
}

@media screen and (min-width: 1280px) {
  .advantages-subtitle__primary.advantages-subtitle__third::before,
  .advantages-subtitle__secondary.advantages-subtitle__third::before,
  .advantages-subtitle__third.advantages-subtitle__third::before {
    margin-bottom: 40px;
  }
}

.advantages-text {
  width: 230px;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.7;
  color: black;
}

@media screen and (min-width: 768px) {
  .advantages-text {
    width: 174px;
    font-size: 14px;
    line-height: 1.74;
  }
}

@media screen and (min-width: 1280px) {
  .advantages-text {
    width: 260px;
    font-size: 16px;
    line-height: 1.76;
    letter-spacing: 0.02em;
  }
}


li {
  list-style: none;
}

a {
  text-decoration: none;
}


.article-section {
  background-color: #fff5f6;
  width: auto;
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;

  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);


  clip-path: inset(100%);

  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);

  clip-path: inset(100%);

  clip: rect(0 0 0 0);
  overflow: hidden;
}

.article-section__site--city,
.article-section__site--paragraph {
  width: 179px;
}


.article-section__site--city {
  margin-bottom: 10px;
  margin-top: 0;
}

.article-section__site--paragraph {
  margin-bottom: 0;
  margin-top: 0;
}

.article-section--border {
  border-bottom: 1px solid #e1e1e1;
  width: auto;
  margin: 25px 20px 25px 20px;
}

.article-section__site--days {
  font-weight: 500;
  font-size: 12px;
  line-height: 186%;
  color: #000000;
  margin-top: 0;
  margin-bottom: 0;
}

.article-section__site--times {
  font-weight: 500;
  font-size: 12px;
  line-height: 186%;
  color: #ffa5ba;
  margin-top: 0;
  margin-bottom: 10px;
}

.article-section__site--times__second {
  font-weight: 500;
  font-size: 12px;
  line-height: 186%;
  color: #ffa5ba;
  margin-left: 20px;
  margin-top: 0;
  margin-bottom: 0;
}

.article-section__link--tel,
.article-section__link--mail {
  font-weight: 500;
  font-size: 12px;
  line-height: 150%;
  color: #907e82;
}

.article-section__link--mail {
  margin-bottom: 43px;
}

@media screen and (min-width: 768px) {
  .article-section__navigation {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}

.article-section__site {
  display: flex;
  flex-direction: column;
  width: 220px;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
  margin: 0 0 20px 0;
  background-color: #ffffff;
}

@media screen and (min-width: 768px) {
  .article-section__site {
    margin-right: 20px;
  }
}

.article-section__site:last-child {
  margin-bottom: 54px;
}

@media screen and (min-width: 768px) {
  .article-section__site:last-child {
    margin-bottom: auto;
    margin-right: 0;
  }

.article-section__site {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 220px;
  -webkit-box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
          box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;

}

.article-section__site--locations {
  width: 80px;
  color: #ffffff;
  background-color: #f0d1a5;
  border-radius: 4px;
  margin: 43px 120px 25px 20px;
  text-align: center;

  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.04em;
  line-height: 186%;


}

.article-section__site--locations-second {
  width: 130px;
  color: #ffffff;
  background-color: #c2e297;
  border-radius: 4px;
  text-align: center;
  margin: 43px 120px 25px 20px;

  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.04em;
  line-height: 186%;
}

.article-section__site--paragraph {
  font-weight: 500;
  font-size: 12px;
  line-height: 150%;
  color: #907e82;

}

.article-section__site--city,
.article-section__site--paragraph,
.article-section__site--days,
.article-section__site--times,
.article-section__link--tel,
.article-section__link--mail {
  margin-left: 20px;
}


.article-section__list--link {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

@media screen and (min-width: 768px) {
  .article-section__list--link {
    flex-direction: row;
    justify-content: center;
  }
}

.article-section__list--locations,
.article-section__list--franchise {
  width: 161px;
  height: 44px;
  text-align: center;
  padding: 10px 0 10px 0;
  border-radius: 22px;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
}

.article-section__list--locations {
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .article-section__list--locations {
    margin-right: 15px;
  }
}

/*# sourceMappingURL=main.css.map */

/*# sourceMappingURL=main.css.map */

