@charset "UTF-8";
/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */
.products__about {
  text-align: center;
  text-transform: uppercase;
  font-family: 'Courier New', Courier, monospace;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.15;
}

.products__title {
  margin-bottom: 200px;
  text-align: center;
  text-transform: uppercase;
  font-size: 34px;
  font-weight: 400;
  line-height: 1.15;
}

.products__lisl {
  width: 100%;
}

.products__icon {
  display: block;
  padding: 146px 0 41px;
  max-width: 480px;
  height: auto;
  position: relative;
  border-radius: 24px;
  background-color: #ffb8ca;
}

.products__icon::before {
  content: '';
  position: absolute;
  left: 0;
  top: -55%;
  width: 335px;
  height: 335px;
  background-repeat: no-repeat;
  background-size: 335px 335px;
}

.products__name {
  position: relative;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.15;
  color: #ffffff;
}

.products__name::after {
  content: '';
  position: absolute;
  left: 0;
  top: -35%;
  width: 335px;
  height: 335px;
  background-repeat: no-repeat;
  background-size: 335px 335px;
}

<<<<<<< Updated upstream
=======
<<<<<<< Updated upstream
.about {
  background-color: #fff5f6;
  padding-top: 125px;
  padding-bottom: 39px;
  background-image: url("../images/backgrkarovamobile@1x.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position-y: 90%;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .about {
    padding-top: 130px;
    padding-bottom: 66px;
  }
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .about {
    background-image: url("../images/backgrkarovamobile@2x.png");
  }
}

@media screen and (min-width: 1200px) {
  .about {
    background-image: url("../images/backgrkarova@1x.png");
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .about {
    background-image: url("../images/backgrkarova@2x.png");
  }
}

.about__slogan {
  font-family: Titan One, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0em;
  text-align: center;
  text-transform: uppercase;
  color: #ffa5ba;
  margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
  .about__slogan {
    font-size: 26px;
    line-height: 1.15;
    margin-bottom: 16px;
  }
}

@media screen and (min-width: 1200px) {
  .about__slogan {
    font-size: 30px;
    line-height: 1.13;
    letter-spacing: 0.04em;
  }
}

.about__title {
  font-family: Titan One, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-align: center;
  text-transform: uppercase;
  color: #d41443;
  margin-bottom: 26px;
}

@media screen and (min-width: 768px) {
  .about__title {
    font-size: 48px;
    line-height: 1.14;
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 1200px) {
  .about__title {
    font-size: 58px;
    line-height: 1.13;
    letter-spacing: 0.06em;
    margin-bottom: 55px;
  }
}

@media screen and (min-width: 768px) {
  .about__wrap {
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }
}

.about__img {
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .about__img {
    margin-right: 17px;
  }
}

@media screen and (min-width: 1200px) {
  .about__img {
    margin-right: 74px;
    margin-left: unset;
  }
}

.about__box-info {
  display: flex;
  flex-direction: column;
  width: 69%;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .about__box-info {
    padding-top: 50px;
    width: 340px;
    margin-left: unset;
    margin-right: unset;
  }
}

@media screen and (min-width: 1200px) {
  .about__box-info {
    width: 463px;
  }
}

.about__text {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.58;
  letter-spacing: 0em;
  text-align: left;
}

@media screen and (min-width: 768px) {
  .about__text {
    font-size: 14px;
    line-height: 1.78;
  }
}

@media screen and (min-width: 1200px) {
  .about__text {
    font-size: 16px;
    line-height: 1.75;
    letter-spacing: 0.04em;
  }
}

.about__text--top {
  color: black;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .about__text--top {
    margin-bottom: 31px;
  }
}

@media screen and (min-width: 1200px) {
  .about__text--top {
    margin-bottom: 35px;
  }
}

.about__text--bottom {
  color: #907e82;
  margin-bottom: 17px;
}

@media screen and (min-width: 768px) {
  .about__text--bottom {
    margin-bottom: 62px;
  }
}

@media screen and (min-width: 1200px) {
  .about__text--bottom {
    margin-bottom: 45px;
  }
}

.about__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 176px;
  height: 44px;
  background-color: white;
  border-radius: 22px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: 0em;
  text-align: center;
  color: #d41443;
}

@media screen and (min-width: 768px) {
  .about__link {
    font-size: 16px;
    line-height: 1.31;
  }
}

.about__link:hover, .about__link:focus {
  background-color: #ecebeb;
}

.about__icon {
  fill: #d41443;
  width: 5px;
  margin-left: 13px;
}

.advantages {
  background-color: #fff5f6;
}

.advantages-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.advantages-list {
  list-style: none;
}

@media screen and (min-width: 768px) {
  .advantages-list {
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (max-width: 768px) {
  .advantages-item {
    margin-bottom: 38px;
  }
}

.advantages-subtitle__primary,
.advantages-subtitle__secondary,
.advantages-subtitle__third {
  font-family: Titan One;
  font-size: 36px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  color: #d41443;
  margin-bottom: 13px;
}

@media screen and (min-width: 768px) {
  .advantages-subtitle__primary,
  .advantages-subtitle__secondary,
  .advantages-subtitle__third {
    font-size: 48px;
  }
}

@media screen and (min-width: 1280px) {
  .advantages-subtitle__primary,
  .advantages-subtitle__secondary,
  .advantages-subtitle__third {
    font-size: 58px;
    margin-bottom: 15px;
  }
}

.advantages-subtitle__primary.advantages-subtitle__primary::before,
.advantages-subtitle__secondary.advantages-subtitle__primary::before,
.advantages-subtitle__third.advantages-subtitle__primary::before {
  content: '';
  display: block;
  background-repeat: no-repeat;
  width: 33px;
  height: 50px;
  margin-bottom: 16px;
  background-image: url(../images/advantages_icon1.png);
}

@media screen and (min-width: 768px) {
  .advantages-subtitle__primary.advantages-subtitle__primary::before,
  .advantages-subtitle__secondary.advantages-subtitle__primary::before,
  .advantages-subtitle__third.advantages-subtitle__primary::before {
    margin-bottom: 36px;
  }
}

@media screen and (min-width: 1280px) {
  .advantages-subtitle__primary.advantages-subtitle__primary::before,
  .advantages-subtitle__secondary.advantages-subtitle__primary::before,
  .advantages-subtitle__third.advantages-subtitle__primary::before {
    margin-bottom: 40px;
  }
}

.advantages-subtitle__primary.advantages-subtitle__secondary::before,
.advantages-subtitle__secondary.advantages-subtitle__secondary::before,
.advantages-subtitle__third.advantages-subtitle__secondary::before {
  content: '';
  display: block;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  text-align: left;
  margin-bottom: 16px;
  background-image: url(../images/advantages_icon2.png);
}

@media screen and (min-width: 768px) {
  .advantages-subtitle__primary.advantages-subtitle__secondary::before,
  .advantages-subtitle__secondary.advantages-subtitle__secondary::before,
  .advantages-subtitle__third.advantages-subtitle__secondary::before {
    margin-bottom: 36px;
  }
}

@media screen and (min-width: 1280px) {
  .advantages-subtitle__primary.advantages-subtitle__secondary::before,
  .advantages-subtitle__secondary.advantages-subtitle__secondary::before,
  .advantages-subtitle__third.advantages-subtitle__secondary::before {
    margin-bottom: 40px;
  }
}

.advantages-subtitle__primary.advantages-subtitle__third::before,
.advantages-subtitle__secondary.advantages-subtitle__third::before,
.advantages-subtitle__third.advantages-subtitle__third::before {
  content: '';
  display: block;
  background-repeat: no-repeat;
  width: 44px;
  height: 50px;
  text-align: left;
  margin-bottom: 16px;
  background-image: url(../images/advantages_icon3.png);
}

@media screen and (min-width: 768px) {
  .advantages-subtitle__primary.advantages-subtitle__third::before,
  .advantages-subtitle__secondary.advantages-subtitle__third::before,
  .advantages-subtitle__third.advantages-subtitle__third::before {
    margin-bottom: 36px;
  }
}

@media screen and (min-width: 1280px) {
  .advantages-subtitle__primary.advantages-subtitle__third::before,
  .advantages-subtitle__secondary.advantages-subtitle__third::before,
  .advantages-subtitle__third.advantages-subtitle__third::before {
    margin-bottom: 40px;
  }
}

.advantages-text {
  width: 230px;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.7;
  color: black;
}

@media screen and (min-width: 768px) {
  .advantages-text {
    width: 174px;
    font-size: 14px;
    line-height: 1.74;
  }
}

@media screen and (min-width: 1280px) {
  .advantages-text {
    width: 260px;
    font-size: 16px;
    line-height: 1.76;
    letter-spacing: 0.02em;
  }
}

=======
>>>>>>> Stashed changes
>>>>>>> Stashed changes
li {
  list-style: none;
}

a {
  text-decoration: none;
}

<<<<<<< Updated upstream
.article-section {
  background-color: #fff5f6;
  width: auto;
}

=======
>>>>>>> Stashed changes
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
<<<<<<< Updated upstream
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
=======
<<<<<<< Updated upstream
  clip-path: inset(100%);
=======
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
>>>>>>> Stashed changes
>>>>>>> Stashed changes
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.article-section__site--city,
.article-section__site--paragraph {
  width: 179px;
}

<<<<<<< Updated upstream
.article-section__site--city {
  margin-bottom: 10px;
  margin-top: 0;
}

.article-section__site--paragraph {
  margin-bottom: 0;
  margin-top: 0;
}

.article-section--border {
  border-bottom: 1px solid #e1e1e1;
  width: auto;
  margin: 25px 20px 25px 20px;
}

.article-section__site--days {
  font-weight: 500;
  font-size: 12px;
  line-height: 186%;
  color: #000000;
  margin-top: 0;
  margin-bottom: 0;
}

.article-section__site--times {
  font-weight: 500;
  font-size: 12px;
  line-height: 186%;
  color: #ffa5ba;
  margin-top: 0;
  margin-bottom: 10px;
}

.article-section__site--times__second {
  font-weight: 500;
  font-size: 12px;
  line-height: 186%;
  color: #ffa5ba;
  margin-left: 20px;
  margin-top: 0;
  margin-bottom: 0;
}

.article-section__link--tel,
.article-section__link--mail {
  font-weight: 500;
  font-size: 12px;
  line-height: 150%;
  color: #907e82;
}

.article-section__link--mail {
  margin-bottom: 43px;
}

@media screen and (min-width: 768px) {
  .article-section__navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.article-section__site {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 220px;
  -webkit-box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
          box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
  margin: 0 0 20px 0;
  background-color: #ffffff;
}

@media screen and (min-width: 768px) {
  .article-section__site {
    margin-right: 20px;
  }
}

.article-section__site:last-child {
  margin-bottom: 54px;
}

@media screen and (min-width: 768px) {
  .article-section__site:last-child {
    margin-bottom: auto;
    margin-right: 0;
  }
=======
.article-section__site {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 220px;
  -webkit-box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
          box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
>>>>>>> Stashed changes
}

.article-section__site--locations {
  width: 80px;
  color: #ffffff;
  background-color: #f0d1a5;
  border-radius: 4px;
  margin: 43px 120px 25px 20px;
  text-align: center;
<<<<<<< Updated upstream
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.04em;
  line-height: 186%;
=======
>>>>>>> Stashed changes
}

.article-section__site--locations-second {
  width: 130px;
  color: #ffffff;
  background-color: #c2e297;
  border-radius: 4px;
  text-align: center;
  margin: 43px 120px 25px 20px;
<<<<<<< Updated upstream
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.04em;
  line-height: 186%;
}

.article-section__site--paragraph {
  font-weight: 500;
  font-size: 12px;
  line-height: 150%;
  color: #907e82;
=======
>>>>>>> Stashed changes
}

.article-section__site--city,
.article-section__site--paragraph,
.article-section__site--days,
.article-section__site--times,
.article-section__link--tel,
.article-section__link--mail {
  margin-left: 20px;
}
<<<<<<< Updated upstream

.article-section__list--link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

@media screen and (min-width: 768px) {
  .article-section__list--link {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.article-section__list--locations,
.article-section__list--franchise {
  width: 161px;
  height: 44px;
  text-align: center;
  padding: 10px 0 10px 0;
  border-radius: 22px;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
}

.article-section__list--locations {
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .article-section__list--locations {
    margin-right: 15px;
  }
}
<<<<<<< Updated upstream
/*# sourceMappingURL=main.css.map */
=======
=======
/*# sourceMappingURL=main.css.map */
>>>>>>> Stashed changes
>>>>>>> Stashed changes
