<section class="about setion">
  <div class="container">
    <p class="about__slogan">tradition and love</p>
    <h2 class="about__title">how it&apos;s made?</h2>
    <!-- Поправить картинку на корову -->
    <img
      src="./images/demo.jpg"
      alt="графин с молоком и корова"
      class="about__img"
      width="280px"
      height="279px"
    />
    <p class="about__text">
      Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem
      eget, egestas eros. Maecenas eleifend erat at justo fringilla.
    </p>
    <p class="about__text">
      Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in
      imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus.
      Cras massa nibh, tincidunt. Aliquam erat volutpat. Aenean accumsan.
    </p>
    <a href="#" class="about__link">
      Read more
      <svg class="about__icon">
        <use href="#"></use>
      </svg>
    </a>
  </div>
</section>
