<section class="advantages section">
  <div class="container">
    <h2 class="advantages_title">advantages</h2>
    <ul class="advantages_list">
      <li class="advantages_item">
        <p class="advantages_subtitle">721</p>
        <p class="advantages_text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
      <li class="advantages_item">
        <p class="advantages_subtitle">16kg</p>
        <p class="advantages_text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
      <li class="advantages_item">
        <p class="advantages_subtitle">84</p>
        <p class="advantages_text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
    </ul>
  </div>
</section>
