<article class="article-section">
    <div class="conteiner">
        <h2 class="article-hidden">Contacts</h2>
        <ul class="article-section__navigation">
            <li class="article-section__site">
                <p class="article-section__site--locations">CAFE</p>
                <p class="article-section__site--city">Chicago</p>
                <p class="article-section__site--paragraph">
                    Fusce ut velit laoreet, <br>
                    tempus arcu molestiebr <br>
                    vulputate
                </p>
                <p class="article-section__site--days">Monday - Friday</p>
                <p class="article-section__site--times">06:00 AM - 10:00 PM</p>
                <p class="article-section__site--days">Saturday - Sunday</p>
                <p class="article-section__site--times">08:00 AM - 16:00 PM</p>
                <span>__________</span>
                <a class="article-section__link--tel" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
                <a class="article-section__link--mail" href="mailto:noreply@envato.com">noreply@envato.com</a>
            </li>
            <li class="article-section__site">
                <p class="article-section__site--locations">FOOD TRUCK</p>
                <p class="article-section__site--city">Los Angeles</p>
                <p class="article-section__site--paragraph">Fusce ut velit laoreet, <br>
                    tempus arcu molestiebr <br>
                    vulputate
                </p>
                <p class="article-section__site--days">Monday - Friday</p>
                <p class="article-section__site--times">06:00 AM - 10:00 PM</p>
                <p class="article-section__site--days">Saturday - Sunday</p>
                <p class="article-section__site--times">08:00 AM - 16:00 PM</p>
                <span>__________</span>
                <a class="article-section__link--tel" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
                <a class="article-section__link--mail" href="mailto:noreply@envato.com">noreply@envato.com</a>
            </li>
            <li class="article-section__site">
                <p class="article-section__site--locations">CAFE</p>
                <p class="article-section__site--city">New York</p>
                <p class="article-section__site--paragraph">Fusce ut velit laoreet, <br>
                    tempus arcu molestiebr <br>
                    vulputate
                </p>
                <p class="article-section__site--days">Monday - Friday</p>
                <p class="article-section__site--times">06:00 AM - 10:00 PM</p>
                <p class="article-section__site--days">Saturday - Sunday</p>
                <p class="article-section__site--times">08:00 AM - 16:00 PM</p>
                <span>__________</span>
                <a class="article-section__link--tel" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
                <a class="article-section__link--mail" href="mailto:noreply@envato.com">noreply@envato.com</a>
            </li>
        </ul>
        <div class="article-section__list--link">
            <a class="article-section__list--locations" href="#">Our Locations
                <svg class="article-section__svg">
                    <use class="article-section__svg--element"></use>
                </svg>
            </a>
            <a class="article-section__list--franchise" href="#">Franchise
                <svg class="article-section__svg">
                    <use class="article-section__svg--element"></use>
                </svg>
            </a>
        </div>
    </div>
</article>