<header class="header">

  <div class="header__section container">
    <nav class="header__nav">
      <a href="/" class="header__logo"> <img src="./images/logo2.svg" />IceCream </a>
      <ul class="header-menu">
        <li class="header-menu__item">
          <a class="header-menu__link" href="/">Home</a>
        </li>

        <li class="header-menu__item">
          <a class="header-menu__link" href="/">About us</a>
        </li>

        <li class="header-menu__item">
          <a class="header-menu__link" href="/">How it’s made?</a>
        </li>

        <li class="header-menu__item">
          <a class="header-menu__link" href="/">Our products</a>
        </li>

        <li class="header-menu__item">
          <a class="header-menu__link" href="/">Contact</a>
        </li>
      </ul>
    </nav>
    <button
      type="button"
      class="mobile-menu js-open-menu"
      aria-label="Переключатель мобильного меню"
      aria-expanded="false"
      aria-controls="mobile-menu"
    >
      <svg class="mobile-menu__icon" width="20px" height="12px">
        <use href="./images/symbol-defs.svg#icontelmenu"></use>
      </svg>
    </button>
    <button type="button" class="header__button button">Buy now</button>
  </div>
</header>

<section class="hero">
  <div class="hero-container container">
    <p class="hero__title">
      ice cream made with
      <span class="hero__title--span">passion</span>
    </p>
    <a class="hero__link" href="">Products</a>
    <a class="hero__link hero__link--white" href="">How it’s made?</a>
    <div class="hero__description">
      <p class="hero__description--text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et
      </p>
    </div>
  </div>

  <div class="circle"><img src="./images/photoheromobilka1x.png" alt="" /></div>

  <div class="object">
    <div class="object__first">
      <p class="object__number">16</p>
      <p class="object__descript">cafes</p>
      <div class="object__ellipse"></div>
    </div>
    <div class="object__second">
      <p class="object__number object__number--second">23</p>
      <p class="object__descript">food trucks</p>
      <div class="object__ellipse"></div>
    </div>
  </div>
</section>

    <div class="header__section container">
        <nav class="header__nav">
            <a href="/" class="header__logo">
                <img src="" />IceCream
            </a>
            <ul class="header-menu">

                <li class="header-menu__item">
                    <a class="header-menu__link" href="/">Home</a>
                </li>

                <li class="header-menu__item">
                    <a class="header-menu__link" href="/">About us</a>
                </li>

                <li class="header-menu__item">
                    <a class="header-menu__link" href="/">How it’s made?</a>
                </li>

                <li class="header-menu__item">
                    <a class="header-menu__link" href="/">Our products</a>
                </li>

                <li class="header-menu__item">
                    <a class="header-menu__link" href="/">Contact</a>
                </li>

            </ul>
        </nav>
        <button type="button" class="mobile-menu js-open-menu" aria-label="Переключатель мобильного меню"
            aria-expanded="false" aria-controls="mobile-menu">
            <svg class="mobile-menu__icon" width="20px" height="12px">
                <use href="../images/symbol-defs.svg#icontelmenu"></use>
            </svg>
        </button>
        <button type="button" class="header__button button">Buy now</button>
    </div>
</header>

<section class="hero">
    <div class="hero-container container">
        <p class="hero__title">ice cream
            made with
            passion
        </p>
        <a class="hero__link" href="">Products</a>
        <a class="hero__link" href="">How it’s made?</a>
    </div>
</section>

