<header class="header">
    <div class="header__section container">
        <nav class="header__nav">
            <a href="/" class="header__logo">
                <img src="" />IceCream
            </a>
            <ul class="header-menu">

                <li class="header-menu__item">
                    <a class="header-menu__link" href="/">Home</a>
                </li>

                <li class="header-menu__item">
                    <a class="header-menu__link" href="/">About us</a>
                </li>

                <li class="header-menu__item">
                    <a class="header-menu__link" href="/">How it’s made?</a>
                </li>

                <li class="header-menu__item">
                    <a class="header-menu__link" href="/">Our products</a>
                </li>

                <li class="header-menu__item">
                    <a class="header-menu__link" href="/">Contact</a>
                </li>

            </ul>
        </nav>
        <button type="button" class="mobile-menu js-open-menu" aria-label="Переключатель мобильного меню"
            aria-expanded="false" aria-controls="mobile-menu">
            <svg class="mobile-menu__icon" width="20px" height="12px">
                <use href="../images/symbol-defs.svg#icontelmenu"></use>
            </svg>
        </button>
        <button type="button" class="header__button button">Buy now</button>
    </div>
</header>

<section class="hero">
    <div class="hero-container container">
        <p class="hero__title">ice cream
            made with
            passion
        </p>
        <a class="hero__link" href="">Products</a>
        <a class="hero__link" href="">How it’s made?</a>
    </div>
</section>