<div class="products conteiner">
    <p class="products__about">100&percnt; natural</p>
    <h2 class="products__title">products</h2>
    <ul class="products__lisl">
        <li class="products__icon">

            <h3 class="products__name">ice cream</h3>
            <span>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            </span>
            <div>
                svg
            </div>
        </li>
        <li>
            
            <h3>ice coffee</h3>
            <span>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            </span>
            <div>
                svg
            </div>
        </li>
        <li>
            
            <h3>milkshakes</h3>
            <span>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            </span>
            <div>
                svg
            </div>
        </li>
    </ul>
</div>